{% extends 'base.html' %}


{% block content %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tahoma">
<!--CSS LandingPage-->
<title >SiSehat - Login</title>

<div class="container px-4 px-lg-5 text-center">
    <h1 class="mb-1">Login</h1>
    <h3 class="mb-5"><em>Select below the type of account you want to create</em></h3>
    <a class="btn btn-primary btn-xl" href="/registrasi/pasien-masuk/">Masuk sebagai Pasien</a>
    <a class="btn btn-primary btn-xl" href="/registrasi/dokter-masuk/">Masuk sebagai Dokter</a>
</div>
{% endblock content %}
