{% extends 'base.html' %}
{% load static %}

{% block meta %}
<!-- load CSS -->
<link rel="stylesheet" href="{% static 'css/riwayat.css' %}"/>

<!-- load javascript -->
<script src="{% static 'javascript/riwayat.js' %}"></script>
{% endblock meta %}

{% block content %}

<!-- screen-wide container -->
<div class="p-2 d-flex flex-column" style="height: 100vh;">

    <!-- container body -->
    {% if pasien %}
    <div class="d-flex flex-column flex-gap" style="height: 84%;">
    {% else %}
    <div class="d-flex flex-column flex-gap" style="height: 100%;">
    {% endif %}

        <!-- set of buttons -->
        <div class="d-flex flex-row flex-gap set-of-buttons">

            <!-- button to homepage -->
            <div>
                <button type="button" class="btn btn-success box-shadow rectangular-button" style="width: 120px;" onclick="homepage()">Beranda</button>
            </div>

            {% if request.user.is_authenticated %} 
            <!-- return button -->
            <div style="margin: auto;">
                <button type="button" class="btn btn-primary box-shadow rectangular-button" style="width: 160px;" onclick="bikinKeluhan()">
                    {% if pasien %}
                    Bikin Keluhan
                    {% else %}
                    Lihat Keluhan
                    {% endif %}
                </button>
            </div>

            <!-- log out button  -->
            <div>
                <button type="button" class="btn btn-danger box-shadow rectangular-button" style="width: 120px;" onclick="logOut()">Keluar</button>
            </div>
            {% endif %}
        
        </div>

        <!-- search bar -->
        <div class="card box-shadow main-content" style="width: auto;">
            <div class="card-body d-flex flex-row align-items-center search-bar flex-gap">
                <span>Cari dokter berdasarkan nama</span>

                <!-- text input -->
                <span><input id="masukan-nama-dokter" class="form-control" type="text" size="16" onkeyup="masukanPengguna('masukan-nama-dokter')"></span>

            </div>
        </div>

        <!-- search result -->
        <div id="pencarian-dokter" class="d-flex flex-column align-items-center flex-gap" style="height: 0; flex-grow: 1; margin: auto; overflow: auto;">
        </div>

    </div>

    {% if request.user.is_authenticated and pasien %}
    <!-- container footer -->
    <div class="d-flex flex-column" style="height: 16%;">

        <!-- button to next container -->
        <a class="p-2" href="#riwayat-penyakit" style="margin: auto;">
            <button class="round-button box-shadow" style="height: 50px; width: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-short" style="height: 100%; width: 100%; margin: auto;" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
        </a>

    </div>
    {% endif %}

</div>

{% if request.user.is_authenticated %}
<!-- screen-wide container -->
<div id="riwayat-penyakit" class="d-flex flex-column" style="height: 100vh;">

    <!-- container body -->
    <div class="card text-center box-shadow main-content" style="height: 90vh; width: 92vw;">
        <div class="card-body d-flex flex-column flex-gap" style="padding: 8px 4px;">

            <!-- content title -->
            {% if pasien %}
            <h2 class="card-title">Riwayat Penyakit</h2>
            {% else %}
            <h2 class="card-title">Riwayat Penyakit Pasien</h2>
            {% endif %}

            <!-- search bar -->
            <div class="d-flex flex-row justify-content-center align-items-center search-bar flex-gap">
                <span>Saring berdasarkan diagnosis</span>

                <!-- select option(s) -->
                <span>
                    <div class="dropdown">
                        <button id="daftar-diagnosis" class="btn btn-light dropdown-toggle" style="width: 120px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            berikut
                        </button>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </span>

            </div>

            <!-- search result -->
            <div class="d-flex flex-column align-items-center" style="height: 0; width: 100%; flex-grow: 1; margin: auto; overflow: auto; color: black;">
            
                <!-- result item(s)-->
                <div id="daftar-riwayat-penyakit" class="accordion accordion-flush" style="width: 100%;">
                </div>
    
            </div>

            <!-- container footer -->
            <div class="d-flex flex-row justify-content-end align-items-center">

                <!-- button to main container -->
                <a class="p-2" href="#">
                    <button class="round-button box-shadow" style="height: 50px; width: 50px;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-short" style="height: 100%; width: 100%; margin: auto;" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </button>
                </a>

                <!-- button to next container -->
                <a href="#riwayat-obat">
                    <button type="button" class="btn btn-light box-shadow" style="height: 50px; width: 140px; border-radius: 20px; border-style: solid; border-width: 2px; border-color: #6c757d;">Riwayat Obat</button>
                </a>

            </div>

        </div>
    </div>

</div>

<!-- screen-wide container -->
<div id="riwayat-obat" class="d-flex flex-column" style="height: 100vh;">

    <!-- container body -->
    <div class="card text-center box-shadow main-content" style="height: 90vh; width: 92vw;">
        <div class="card-body d-flex flex-column flex-gap" style="padding: 8px 4px;">

            <!-- content title -->
            {% if pasien %}
            <h2 class="card-title">Riwayat Obat</h2>
            {% else %}
            <h2 class="card-title">Riwayat Obat Pasien</h2>
            {% endif %}

            <!-- search bar -->
            <div class="d-flex flex-row justify-content-center align-items-center search-bar flex-gap">
                <span>Saring berdasarkan nama obat</span>

                <!-- select option(s) -->
                <span>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" style="width: 120px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            berikut
                        </button>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </span>

            </div>

            <!-- search result -->
            <div class="d-flex flex-column align-items-center" style="height: 0; width: 100%; flex-grow: 1; margin: auto; overflow: auto;  color: black;">
            
                <!-- result item(s)-->
    
            </div>

            <!-- container footer -->
            <div class="d-flex flex-row justify-content-end align-items-center">

                <!-- button to main container -->
                <a class="p-2" href="#">
                    <button class="round-button box-shadow" style="height: 50px; width: 50px;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-short" style="height: 100%; width: 100%; margin: auto;" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </button>
                </a>

                <!-- button to previous container -->
                <a href="#riwayat-penyakit">
                    <button type="button" class="btn btn-light box-shadow" style="height: 50px; width: 160px; border-radius: 20px; border-style: solid; border-width: 2px; border-color: #6c757d;">Riwayat Penyakit</button>
                </a>

            </div>
            
        </div>
    </div>

</div>
{% endif %}

<script>
    function adjustSearchBar() {
        if (window.outerWidth < 676) {
            $('.search-bar').removeClass('justify-content-center');
            $('.search-bar').addClass('justify-content-start');
        }

        if (window.outerWidth >= 676) {
            $('.search-bar').removeClass('justify-content-start');
            $('.search-bar').addClass('justify-content-center');
        }
    }

    window.onresize = adjustSearchBar;
    adjustSearchBar()
</script>

{% endblock content %}
