body {
    font-family: Tahoma, sans-serif;

    background-color: #b9ca88;
    background-image: linear-gradient(#f0ead2, #b9ca88);
}

.flex-gap {gap: 12px;}

.box-shadow {
    box-shadow: rgba(50, 50, 92, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.28) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.main-content {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #49522b;

    margin: auto;
    color: white;
    
    background-color: #606c38;
    background-image: linear-gradient(#94a168, #606c38);
}

.search-bar {flex-flow: row wrap;}

.card-design {
    width: 100%;
    margin-bottom: 6px;
    
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #70706e;

    background-color: #f6e8ba;
    background-image: linear-gradient(#fff5d4, #f6e8ba)
}

.round-button {
    display: inline-block;
    text-decoration: none;

    cursor: pointer;

    outline: none;

    border-style: solid;
    border-width: 2px;

    color: white;
    background-color: #a96f4a;

    border-color: #4f2410;
    border-radius: 100%;

    overflow: none;
    text-align: center;
}

.round-button:hover {
    background-color: #996946;
}

.round-button:active {
    background-color: #906242;
}

@media (max-width:675px) {
    .search-bar {
        margin-left: 4px; margin-right: 4px;
    }
}

@media (max-width:955px) {
    #pencarian-dokter {
        width: 100%;
    }
}

@media (min-width:956px) {
    #pencarian-dokter {
        width: 80%;
    }
}
